<!-- <header class="bg-black">

  <nav class="mx-auto flex max-w-7xl items-start justify-between p-6 lg:px-8" aria-label="Global">

  </nav>

</header> -->

<header class="bg-slate-200">
  <nav class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8" aria-label="Global">
    <div class="flex lg:flex-1">
      <a href="#" class="-m-1.5 p-1.5">
        <span class="sr-only">Your Company</span>
        <img class="h-8 w-auto" src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600" alt="">
      </a>
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
      <button class="text-xl  leading-6 text-gray-900" [routerLink]="['/home']" routerLinkActive="active" >Inicio</button>
      <button class="text-xl  leading-6 text-gray-900" [routerLink]="['/blog']" routerLinkActive="active" >Blog</button>
      <button class="text-xl  leading-6 text-gray-900" [matMenuTriggerFor]="menu">Categorías</button>
      <mat-menu  #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
      <button class="text-xl leading-6 text-gray-900">Unete</button>
      <button class="text-xl leading-6 text-gray-900">Comprar</button>
    </div>
    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      <a href="#" class="text-xl leading-6 text-gray-900" [routerLink]="['/authenticate']">Log in <span
          aria-hidden="true">&rarr;</span></a>
    </div>
  </nav>
</header>
